[Unit]
Description=auto-connect
After=network.target

[Service]
ExecStart=/yocto/enregistrement/bin/reconnect.sh
User=kalo
Group=kalo
WorkingDirectory=/home/kalo/enregistrement
# Restart=always
Environment="XDG_RUNTIME_DIR=/run/user/$(id -u kalo)"
StandardOutput=append:/var/log/reconnect.out
StandardError=append:/var/log/reconnect.err

[Install]
WantedBy=multi-user.target
